@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 600px;
    position: relative;
}

.main .box {
    height: 600px;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 12px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 1000;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    font-weight: 400;
    padding: 3px 8px;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 5px;
    border: 1px solid white;
}

.btn-red {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border: none;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.main input {
    color: white;
    padding: 8px 15px 8px 14px;
    font-size: 12px;
    border-radius: 5px;
    background-color: rgba(10, 10, 10, 0.7);
    font-weight: 100;
    border: 1px solid rgb(218, 218, 218, 0.4);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 420px;
    position: absolute;
    height: 340px;
    top: 55px;
    right: 55px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    font-family: 'Martel Sans', sans-serif;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 40px;
    font-weight: 900;
}

section.first>div :nth-child(2) {
    font-size: 18px;
}

.faq {
    font-family: 'Martel Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.faqbox:hover {
    background-color: rgb(37, 36, 36)
}

.faqbox {
    font-size: 18px;
    display: flex;
    background-color: #2d2d2d;
    padding: 14px;
    max-width: 70vw;
    margin: 10px auto;
    justify-content: space-between;
    transition: all 1s ease-out;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;

}

footer .questions {
    padding: 34px 0px;
}

.footer a {
    font-size: 14px;
    color: white;
    padding: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 1300px) {

    nav {
        max-width: 370px;
    }

    nav img {
        width: 100px;
    }

    .first {
        flex-wrap: wrap;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
    }

    .secImg img {
        width: 455px;
    }

    .secImg video {
        width: 330px;
        height: 280px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 16px;
    }

    .hero-buttons{
    flex-direction: column;
    }

    .faq h2{
        font-size: 38px;
    }

    footer{
        max-width: 90vw;
    }
}